* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}
/* body {
  background-color: hsl(0, 0%, 98%);
} */

span {
  font-weight: 800;
}

.pt {
  padding-top: 3rem;
}

.font-link {
  font-family: 'Nunito Sans', sans-serif;
}

.white-text {
  color: hsl(0, 0%, 100%);
}
.dark-text {
  color: black;
}

/* --------------------------- HEADER ------------------------------------------ */
.header {
  font-weight: 800;
  /* background-color: hsl(0, 0%, 100%); */
  /* background-color: red; */
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  /* box-shadow: 0 0 50px hsl(0, 0%, 85%); */
}

.icon-box {
  width: 1rem;
  height: 1rem;
  margin-right: 8px;
  font-weight: 600;
}
.icon-img {
  width: 100%;
  height: 100%;
  
}
.dark-mode-box {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.dark-mode-text {
  font-weight: 600;
}






/* ---------------------------------------- SEARCH BAR ----------------------------------------------------- */
.search-bar-section {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  position: relative;
  /* background-color: red; */
}

.suggestion-box {
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
  padding-bottom: 8px;
  position: absolute;
  top:118px;
  width: 93%;
  
}
.suggestion-box-items {
  padding: 5px 10px;
}

.suggestion-box-items:hover {
  background-color: hsl(0, 0%, 98%);
}
.search-input {
  padding: 1rem 6rem 1rem;
  width: 100%;
  font-weight: 600;
  color: hsl(200, 15%, 8%);
  font-size: .9rem;
  outline: 0;
  border: none;
  border-radius: 4px;
  /* margin-top: 3rem; */
  /* box-shadow: 0 0 6px hsl(0, 0%, 85%); */

}



.search-bar-div::before {
  content: url('/public/icons/search-icon.png');
  position: absolute;
  bottom: .4rem;
  margin-left: 2.7rem;
  opacity: .5;
}


.search-input::placeholder {
  font-size: .9rem;
  opacity: .5;
  font-weight: 300;
}

.search-bar-div {
  position: relative;
  padding-top: 2rem;
  

}

.search-icon {
  position: absolute;
  top: 14px;
  padding-left: 4rem;
  opacity: .5;
  

}

.link {
  text-decoration: none;
  color: hsl(200, 15%, 8%);
  /* overflow: hidden; */
}

.height {
  min-height: 100vh;
  margin-top: 0;
}


/* ---------------------------------------- DROP DOWN ----------------------------------------------------- */



.drop-down-section {
  padding-top: 2.5rem;
  margin-bottom: 0;
}
.drop-down-div {
  width: 50%;
  padding-left: 1rem;
}
.drop-down {
  width: 100%;
  padding: 1rem 1rem;
  border: none;
  outline: 0;
  outline-offset: 0;
  border-radius: 4px;
  box-shadow: 0 0 8px hsl(0, 0%, 85%);
}
/* .main {
  margin-top: 60px;
} */
select > option {
  border: none;
  outline: 0;
}



/* ---------------------------------------- COUNTRIES SECTION ----------------------------------------------------- */

.countries-div-box {
  background-color: hsl(0, 0%, 100%);
  /* margin-bottom: 4rem; */
  border-radius: 6px;
}

.countries {
  padding-inline: 1rem;
  padding-bottom: 1rem;

}




.flags-img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  
}

.flags-img-box {
  height: 12rem;
  
  }

.countries-info-textbox {
  padding: 1rem 2rem 3rem;
  

}

.countries-info-textbox h2 {
  padding: 1.3rem 0;
  /* width: 80%;   */
}
.countries-info-textbox p {
  font-size: 1.1rem;
}


.countries-info-textbox p:not(:last-child) {
  margin-bottom: 10px;
}






/* ------------------------- INDIVIDUAL COUNTRY SECTION ---------------------------------- */
.back-mainBox {
  display: flex;
  padding-top: 2rem;
  padding-left: 20px;
}
.back-arrow-img {
  width: 13px;
  height: 15px;
  margin-top: 1px;
  
}

.back-text {
  font-size: .8rem;
  font-weight: 600;
}
.back-arrow-box {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: hsl(0, 0%, 100%);
  padding: 6px 23px;
  border-radius: 5px;
  box-shadow: 0 0 15px hsl(0, 0%, 85%);

}
.individual-section {
  padding: 0 20px;
}

.flag-box {
  height: 15rem;
  margin-top: 5rem;
}

.flag-img{
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.country-name {
  padding-top: 2rem;
}

.country-info-1 {
  padding-top: 3rem;
}

.country-info-2 {
  padding-top: 3rem;
}



.tiles-section {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tiles {
  background-color: hsl(0, 0%, 100%);
  padding: 5px 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px hsl(0, 0%, 85%);
}

.country-info-p {
  padding: 7px 0;

}
.country-info-p span {
  font-weight: 700;
  font-size: 1rem;
}

.borders-section {
  padding: 3rem 0;
}

.tiles-section {
  padding: 2rem 0;
}


.individual-country-main-box {
  padding-top: 8rem;

}

.inline-block {
  display: inline-block;
}









/* ------------------------------------------------- MEDIA QUERY --------------------------------------------- */

@media all and (min-width:720px) {
  .each-country-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    /* display: flex; */
    width: 100%;
    /* flex-wrap: wrap; */
    }

    .countries {
    display: inline-block;
      
      /* width: 100%; */
      /* padding-inline: 1rem;
      padding-block: 0px;
      flex-grow: 1;
      flex-shrink: 1;
      width: 320px; */
}

  .countries-section {
    /* padding: 2rem; */
    font-size: .8rem;
    width: 100%;
    /* background-color: red; */
    /* margin-left: 2rem; */
    
  }


  .countries-section-box {
    /* padding: 2rem;  */
    width: 100%;
    padding: 0px;
    /* background-color: red; */

  }



  .countries-info-textbox h2 {
    padding-top: 0;
    padding-bottom: 1.4rem ;
    word-break: break-all;
    font-size: 1.2rem;
    font-weight: 800;
    
  }

  .flags-img-box {
    height: 10rem;
    }

   .countries-info-textbox {
    word-break: break-all;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-inline: 1rem;
  } 

   .countries-info-textbox p {
    font-size: 1rem;
    font-weight: 300;
    
  } 
  .countries-info-textbox p > span {
    font-weight: 800;

  }
  
/* .rendered-countries-div {
  padding-inline: 1rem;
  
} */

.search-and-dropdown {
  display: grid;
  grid-template-columns: 460px 20%;
  justify-content: space-between;
  padding: 5rem 3rem 0 3rem;
  /* margin-top: 0; */
  border: none;
  align-items: center;
}

.drop-down-div {
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
}

.search-bar-section {
  padding: 0;
  margin-top: 4px;
  position: relative;
  /* background-color: red; */
}
.drop-down-section {
  /* background-color: green; */
  
}

.search-bar-div {
  padding: 0;
  /* background-color: green; */

}

.search-input {
  margin-top: 10px;
}
.suggestion-box {
  position: absolute;
  top: 4rem;
  width: 100%;
}

}



@media all and (max-width:390px) {
  .header h2 {
    font-size: 1rem;
  }

}





/* ----------------------------------- MEDIA QUERY FOR INDIVIDUAL COUNTRY SECTION ----------------------------------- */
@media all and (min-width:640px) {
  .flag-box {
    padding: 0 3rem;
    height: 20rem;
  }

  .country-name {
    text-align: center;
  }

  .country-name-div {
    padding-top: 3rem;
  }


  .country-info-1 {
    /* background-color: red; */
    /* display: inline-block; */
    /* text-align: center; */
    margin: 0 auto;
    
  }

  .country-info-2 {
    margin-right: 7rem;
    /* background-color: green; */
    /* display: inline-block; */
    /* margin-bottom: 20px; */
    /* margin-left: 10rem; */
    /* margin: 0 auto; */
  }

  .country-info-div {
    display: flex;
    /* justify-content: center; */
    /* gap: 17rem; */
    /* margin: 0 auto; */

    /* background-color: aqua; */
  }

  .borders-section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .tiles-section {
    /* display: inline-block; */
    width: fit-content;
    
  }

  }


  @media all and (min-width:820px) {
    .flag-box {
      padding: 0 5rem;
      height: 20rem;
    }

  }


  @media all and (min-width:1100px) {
    body {
      background-color: hsl(0, 0%, 100%);
    }

    .individual-section {
      display: flex;
      gap: 4rem;
    }

    .back-mainBox {
      padding-left: 3.5rem;
      
    }

    .flag-box {
      padding-left: 2.2rem;
      /* background-color: red; */
      padding-right: 0;
      height: 18rem;
      flex-basis: 37%;
    }

    .individual-country-info-box {
      padding: 0;
      margin-top: 6rem;
      padding-left: 2rem;
      /* background-color: red; */
      /* flex-basis: 50%; */
    }
    .country-name {
      font-size: 1.2rem;
      text-align: start;
      padding: 0;
    }

    .country-info-p {
      font-size: .9rem;
    }

    .country-info-p span {
      font-size: inherit;
    }

    .borders-section {
      display: flex;
      flex-direction: row;
      padding-bottom: 0;
    }

    .borders-section h3{
      font-size: .9rem;
   }

    .tiles {
      padding: 3px 13px;
    }

    .tiles-section {
      padding: 0;
      padding-left: 5px;
    }


    .tiles > p{
      font-size: .8rem;
    }

    .country-name-div {
      padding: 0;
      display: flex;
    }

    .country-info-div {
      padding: 0;
      display: flex;
    }

    .country-info-1 , .country-info-2 {
      padding-top: 1rem;
    }

    .country-info-2 {
      margin-left: 9rem;
    }

    .country-info-p {
      padding: 3px 0;
    }



  }







